.min-h-screen{
  min-height: 200vh;
}

.bg-red{
  background-color: red;
}

.mx-auto{
  margin-left: auto;
  margin-right: auto;
}

.flex{
  display: flex;
}

.items-center{
  align-items: center;
}

.text-center{
  text-align: center;
}

.justify-between{
  justify-content: space-between;
}

.justify-center{
  justify-content: center;
}

.flex-col{
  flex-direction: column;
}

.font-bold{
  font-weight: bolder;
}

.my-1{
  margin-top: 26px;
  margin-bottom: 26px;
}

.my-2{
  margin-top: 26px;
  margin-bottom: 26px;
}

.px-2{
  padding-left: 13px;
  padding-right: 13px;
}

.text-blue{
  color: rgb(255 115 92);
}

.btn{
  padding: 7px 12px;
  border: 2px solid whitesmoke;
  border-radius: 9px;
  cursor: pointer;
  color: whitesmoke;
  background-color: rgb(255 115 92);
}

/* .overflow-hidden{
  overflow: hidden;
} */

.logo{
  font-size: 2rem;
}

.bookimg{
  margin-top: 20px;
  display: flex;
  width: 70px;
  max-width: 70px;
  /* height: 70px; */
}

.studyimg{
  height: 65vh;
  max-height: 65vh;
}